* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #141c2f;
}

#light h1 {
  color: white;
}

#light h3 {
  color: white;
  margin: 0;
}

#light p {
  color: #7e8493;
  margin: 0;
  font-size: 1.1rem;
}

#light .search-bar {
  background-color: #1f2a48;
  border-radius: 5px;
  padding: 5px;
}

#light .search-bar input {
  background-color: #1f2a48;
  border: none;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: white;
}

#light input::placeholder {
  color: #7e8493;
}

#light input:focus {
  outline: none !important;
  box-shadow: none;
}

#light .info {
  background-color: #1f2a48;
  border-radius: 5px;
}

#light .username {
  color: #0d6efd;
}

#light .stats {
  background-color: #141c2f;
  border-radius: 5px;
}

#light .stats .followers,
#light .stats .following,
#light .stats .repos {
  color: #7e8493;
  text-align: start;
}

#light .stats .stat-number {
  color: white;
  font-size: 1.2rem;
}

#light .extra-info p {
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #141c2f;
}

@media (max-width: 767px) {
  .App {
    align-items: flex-start;
  }

  .name {
    flex-direction: column;
  }

  .bio,
  .username {
    text-align: center;
  }

  .twitter,
  .location,
  .blog,
  .company {
    justify-content: center;
    margin-bottom: 0.5rem !important;
  }
}

#light .extra-info .disabled * {
  color: grey;
}

#light h1 {
  color: white;
}

#light h3 {
  color: white;
  margin: 0;
}

#light p {
  color: #b8babe;
  margin: 0;
  font-size: 1.1rem;
}

#light .search-bar {
  background-color: #1f2a48;
  border-radius: 5px;
  padding: 5px;
}

#light .search-bar input {
  background-color: #1f2a48;
  border: none;
  padding-left: 2rem;
  font-size: 1.2rem;
  color: white;
}

#light input::placeholder {
  color: #7e8493;
}

#light input:focus {
  outline: none !important;
  box-shadow: none;
}

#light .info {
  background-color: #1f2a48;
  border-radius: 5px;
}

#light .username {
  color: #0d6efd;
}

#light .stats {
  background-color: #141c2f;
  border-radius: 5px;
}

#light .stats .followers,
#light .stats .following,
#light .stats .repos {
  color: #b8babe;
  text-align: start;
}

#light .stats .stat-number {
  color: white;
  font-size: 1.2rem;
}

#light .extra-info i {
  color: white;
  font-size: 1.2rem;
  margin-right: 15px;
}
#light .extra-info p {
  color: #b8babe;
}

#light .extra-info a {
  color: #b8babe;
  text-decoration: none;
}
